body {
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin: 0;
}

#player-div {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 75%;
}

#title-div {
    height: 10%;
    background-color: red;
}

#video-div {
    flex: 1;
    background-color: orange;
    padding: 10px;
}

video {
    height: 100%;
    width: 100%;
}

#info-div {
    height: 20%;
    background-color: yellow;
}

#search-div {
    display: flex;
    flex-direction: column;
    width: 25%;
    background-color: green;
    padding: 10px;
}

#search-title {
    height: 2%;
}

#search-results {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.search-result {
    height: 10%;
    width: 96%;
    margin: 2%;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: white;
    text-align: center;
}

#search-form {
    display: flex;
    flex-direction: row;
    height: 5%;
    width: 100%;
}

#search-text {
    flex: 1;
    height: 100%;
    border: 0;
    margin: 0;
    padding: 0;
}

#search-button {
    height: 100%;
    width: 20%;
    border: 0;
    margin: 0;
    padding: 0;
}